<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class= "full-container" style= "display: block; margin-left: 18px;">
    <p>Text-Only Version of NPR.org <a href="https://www.npr.org" style= "margin-left: 18px;">Full Version</a></p>
      <div class= "story-container">
        <h4> NPR.org | <%= publication %></h4>
        <hr width= "75%" align= "left" color= "3366CC" size= "5" NOSHADE>

        <p><%= title %></p>
        <p>By <%= author %></p>
        <p><%= fullPubDate %> • <strong><i>Updated: <%= fullUpdatedDate %></i></strong></p>

        <div class= "paragraph-container" style= "width: 75%; text-align: justify; word-spacing: -2px; line-height: 130%;">
          <% for (var i= 0; i < storyData.resources.length; i++){ %>
          <%   var paragraphs = storyData.resources[i].paragraph %>
              <p><%= paragraphs %></p>
        <% } %>
        </div>

          <ul class= "web-links-container">
            <li style="display: inline; padding-right: 20px;"><a href="#">Contact Us</a></li>
            <li style="display: inline; padding-right: 20px;"><a href="#">Terms of Use</a></li>
            <li style="display: inline; padding-right: 20px;"><a href="#">Permissions</a></li>
            <li style="display: inline;"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <p>&copy NPR</p>
    </div>
  </div>
</body>
</html>
